<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RockPaperScissors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8E2E8DD1BC461D600A3E0AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E2E8F61BC461D600A3E0AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E2E9011BC461D600A3E0AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
